@model RecipeHelper.Models.Products.ProductSearchVM

<div class="max-w-2xl mx-auto px-4 py-8">
    <h1 class="text-2xl font-bold text-center mb-6">Search for Products</h1>

    <form asp-action="SearchProduct" asp-controller="Product" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="searchTerm">
                Enter Product Name
            </label>
            <input type="text" name="SearchTerm" value="@Model.SearchTerm" placeholder="Enter product name" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
        </div>
        <div class="flex items-center justify-between">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Search
            </button>
        </div>
    </form>

    @if (Model.ProductSearchResults != null && Model.ProductSearchResults.Any())
    {
        <form asp-action="AddSelectedProducts" asp-controller="Product" method="post">
            <div class="bg-white shadow-md rounded px-8 pt-6 pb-8">
                <h2 class="text-xl font-semibold my-4">Search Results</h2>
                <ul>
                    @foreach (var product in Model.ProductSearchResults)
                    {
                        <li class="flex items-center border-b border-gray-200 py-2">
                            <img src="@Url.Content($"https://www.kroger.com/product/images/xlarge/front/{product.Upc}")" alt="Product Image" class="w-20 h-20 mr-4">
                            <div class="flex-grow">
                                <span class="font-bold">@product.Description</span> - <span class="text-gray-600">$@product.Price.regular.ToString("0.00")</span>
                            </div>
                            <input type="checkbox" name="selectedProducts" value="@product.Upc" class="ml-4">
                        </li>
                    }
                </ul>
                <div class="mt-4 flex justify-end">
                    <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        Add Selected to Database
                    </button>
                </div>
            </div>
        </form>
    }
</div>
